   body{
      font-family: courier new;
      color: #ffff00;
      background-image: url('img/bg.jpg');
    }

   #box{
        width: 200px;
        height: 200px;
        background-color: red;
        display: none;
        position: relative;
        }
    .bold{
        font-weight: bold;
       }
